
<section class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
  {/* CTA card */}
  <div id="process" class="relative rounded-3xl bg-dark-700 py-16 lg:py-20">
    {/* Section text */}
    <div class="mx-auto w-full max-w-xl md:max-w-2xl lg:max-w-3xl">
      <h2 class="mt-6 text-5xl font-extrabold text-white sm:text-4xl ">
        "Your goal shouldn't be to buy players. Your goal should be to buy wins. In order buy wins, you need to buy runs."
      </h2>
      <p class="mt-6 text-xl italic text-dark-300">
        - Billy Beane (Moneyball)
      </p>
    </div>
</div>
</section>