---
import { Icon } from 'astro-icon/components'

const steps = [
  {
    label: '1. Collect Ideas',
    description:
      'We gather comprehensive insights about your product to fully understand your unique needs and vision.',
    icon: 'clipboard-list',
  },
  {
    label: '2. Design Concept',
    description:
      'We creatively transform your vision and ideas into design drafts. We iterate until you are satisfied.',
    icon: 'artboard',
  },
  {
    label: '3. Finalize Product',
    description:
      'Upon your approval, we finalize and refine the design and launch your uniquely tailored product to the market.',
    icon: 'rocket',
  },
]
---

<div id="process" class="mx-auto w-full max-w-screen-xl px-4 sm:px-6 lg:px-8">
  {/* Section text */}
  <div class="mx-auto w-full max-w-xl text-center md:max-w-2xl lg:max-w-3xl">
    <p
      class="inline-flex items-center justify-center rounded-r-full rounded-tl-full bg-gradient-to-r from-dark-600 to-dark-700 px-6 py-2 text-sm font-medium tracking-wide text-white"
    >
      Our process
    </p>
    <h2 class="mt-6 text-3xl font-extrabold text-white sm:text-4xl md:text-5xl">
      Experience our simple design process
    </h2>
    <p class="mt-6 text-xl text-dark-300">
      Uncover the essence of your brand, through our highly collaborative and
      intuitively structured design process.
    </p>
  </div>

  {/* Process steps */}
  <div
    class="mx-auto mt-12 grid max-w-xl gap-10 lg:mt-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-12"
  >
    {
      steps.slice(0, 3).map((step) => (
        <div class="w-full">
          <span class="mx-auto flex h-18 w-18 items-center justify-center rounded-3xl bg-gradient-to-r from-dark-600 to-dark-700 shadow-xl">
            <Icon name={step.icon} class="h-10 w-10 text-dark-300" />
          </span>
          <h3 class="mt-5 text-center text-2xl font-semibold text-white">
            {step.label}
          </h3>
          <p class="mt-2 text-center text-lg leading-relaxed text-dark-300">
            {step.description}
          </p>
        </div>
      ))
    }
  </div>
</div>
