---
import { Icon } from 'astro-icon/components'

const steps = [
  {
    label: '1. Analyze and Propose',
    description:
      'We gather insights to fully understand your unique needs and vision then propose solutions to reach your goals.',
    icon: 'clipboard-list',
  },
  {
    label: '2. Build and Launch',
    description:
      'Upon approval of a proposal, we craft your experience, test it, and launch it to the world.',
    icon: 'rocket',
  },
  {
    label: '3. Measure and Iterate',
    description:
      'We monitor and measure the performance of your solution and make adjustments to extract the most value possible.',
    icon: 'trending-up',
    },
]
---

<div id="process" class="mx-auto w-full max-w-screen-xl px-4 sm:px-6 lg:px-8">
  {/* Section text */}
  <div class="mx-auto w-full max-w-xl text-center md:max-w-2xl lg:max-w-3xl">
    <p
      class="inline-flex items-center justify-center rounded-r-full rounded-tl-full bg-gradient-to-r from-dark-600 to-dark-700 px-6 py-2 text-sm font-medium tracking-wide text-white"
    >
      Our process
    </p>
    <h2 class="mt-6 text-3xl font-extrabold text-white sm:text-4xl md:text-5xl">
      Design sets the tone and direction, but it’s data that drives us.
    </h2>
    <p class="mt-6 text-xl text-dark-300">
      For every client, we bring our a-game of talent and advanced toolset to partner in constant monitoring, experimentation, and measurement. This results in the creation of new opportunities to increase sales and brand identity.
    </p>
  </div>

  {/* Process steps */}
  <div
    class="mx-auto mt-12 grid max-w-xl gap-10 lg:mt-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-12"
  >
    {
      steps.slice(0, 3).map((step) => (
        <div class="w-full">
          <span class="mx-auto flex h-18 w-18 items-center justify-center rounded-3xl bg-gradient-to-r from-dark-600 to-dark-700 shadow-xl">
            <Icon name={step.icon} class="h-10 w-10 text-dark-300" />
          </span>
          <h3 class="mt-5 text-center text-2xl font-semibold text-white">
            {step.label}
          </h3>
          <p class="mt-2 text-center text-lg leading-relaxed text-dark-300">
            {step.description}
          </p>
        </div>
      ))
    }
  </div>
</div>
